<div>
    <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
            <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-dark-sage">Edit Your Design</h3>
                <p class="mt-1 text-sm text-mauve">
                    This information will be displayed publicly so be careful what you share.
                </p>
            </div>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">
            <form action="/api/design/id/{{designs.id}}" method="POST">
                <div class="shadow sm:rounded-md sm:overflow-hidden">
                    <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                        <div>
                            <label for="title" class="block text-sm font-medium text-dark-sage">
                                Title
                            </label>
                            <div class="mt-1">
                                <textarea id="title" name="title" rows="1"
                                    class="shadow-sm focus:ring-sage focus:border-sage mt-1 block w-full sm:text-sm border-gray-300 rounded-md"
                                    placeholder="Enter a title">{{designs.title}}</textarea>
                            </div>
                        </div>
                        <div>
                            <label for="description" class="block text-sm font-medium text-dark-sage">
                                Description for your design
                            </label>
                            <div class="mt-1">
                                <textarea id="description" name="description" rows="3"
                                    class="shadow-sm focus:ring-sage focus:border-sage mt-1 block w-full sm:text-sm border-gray-300 rounded-md"
                                    placeholder="Describe your project">{{designs.description}}</textarea>
                            </div>
                        </div>
                        <div class="grid grid-cols-3 gap-6">
                            <div class="col-span-3 sm:col-span-2">
                                <label for="video_link" class="block text-sm font-medium text-dark-sage">
                                    Video Link
                                </label>
                                <div class="mt-1 flex rounded-md shadow-sm">
                                    <input type="text" name="video_link" id="video_link"
                                        class="focus:ring-sage focus:border-sage flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                                        placeholder="www.example.com" value="{{designs.video.video_link}}">
                                </div>
                            </div>
                        </div>
                        <div id="instructions">
                        {{#each designs.Instructions as |inst|}}
                        <div class="steps">
                            <input type="number" class="sequence" name="sequence{{inst.id}}{{inst.sequence}}" value="{{inst.sequence}}">
                            <div class="mt-1">
                                <textarea id="instruction{{inst.sequence}}" name="instruction{{inst.id}}{{inst.sequence}}" rows="1"
                                    class="description shadow-sm focus:ring-sage focus:border-sage mt-1 block w-full sm:text-sm border-gray-300 rounded-md"
                                    placeholder="Add instruction">{{inst.instruction}}</textarea>
                            </div>
                        </div>
                        {{/each}}
                        </div>
                        <button type="button" id="add-instructions" class="outline: 2px dotted black; outline-offset: 2px;">Add Instruction</button>
                        <div class="flow-root">
                            <button id="submit" class="float-right ring p-1" type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            {{!-- <form id="formData">
                <div class="form-group">
                    <img id="img" src="https://via.placeholder.com/400x250/CCC/000?text=Image+Preview"
                        style="width: 100%;" />
                </div>
                <div class="form-group">
                    <label class="form">
                        Title
                    </label>
                    <input type="text" class="form" name="title" />
                </div>
                <div class="form-group">
                    <label class="form">
                        Description
                    </label>
                    <textarea class="form" name="description"></textarea>
                </div>
                <div class="form-group">
                    <label class="form">
                        Image
                    </label>
                    <input type="file" class="form" name="image" id="fileInput" />
                </div>
                <button type="submit" class="form">
                    Create Post
                </button>
            </form> --}}
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/editDesign.js"></script>